table{
    border-collapse: collapse;
    width: 100%;
}

td, th{
    padding: 10px;
    text-align: justify;
    border: 1px solid #7e3f5c;
}
tr:nth-child(even){
    background-color: #b7bbf0;
}
tr:hover{
    background-color: #f5aca0;
}
.sticky{
    position: sticky;
    top:0;
}